  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*Navbar*/
.navbarContainer{
    max-width: 1280px;
    margin:0 auto;
}
.navbar label{
    line-height: 80px;
    padding-left:30px;
    font-size:23px;
    font-weight: 600;
}
.navbar ul{
    list-style: none;
    float: right;
    margin-right: 60px;
}
.navbar ul li {
    display: inline-block;
    line-height: 80px;
    
}
.navbar ul li a{
    padding: 7px 13px;
    text-decoration: none;
    color:#374048;
}
.navbar ul li a:hover{
    color: #000000;
}
.navbar ul li a.purchase{
    background: #ff392e;
    border-radius: 20px;
    border: 1px solid #ff392e;
    color: #ffffff;
}
.navbar input#check{
   display: none;
}
label.checkbtn i.fa-bars{
   display: none;
}
label.checkbtn i.fa-times{
    display: none;
}
 .sticky {
    position: sticky;
    top: 0;
    background: #ffffff;
  }
  
  .sticky + .content {
    padding-top: 0px;
  } 
  /*Responsiveness of navbar*/
@media(max-width:933px){
    .navbar label{
        padding-left: 15px;
    }
   /*  .sticky{
        position: unset !important;
    } */
  }

@media(max-width:903px){
    .sticky + .content{
        padding-top: 0px;
    }
  label.checkbtn i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color:black;
        float: right;
        line-height: 80px;
    }
   .navbar ul{
        position: fixed; 
        width: 100%;
        text-align: center;
        transition: all 0.5s;
        top: -150%;
       /*  left: -100%; */
        text-align: center;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .navbar ul li{
        display: block;
        margin: 10px 0;
       /*  line-height:30px; */
        /*adding*/
        margin: 5px 0px;
        line-height: 30px;
    }
    #check:checked~ul{
        /* left: 0; */
        top: 80px;
    }
    #check:checked~label.checkbtn i.fa-bars{
        display: none;
    }
    #check:checked ~label.checkbtn i.fa-times{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color:black;
        float: right;
        line-height: 80px;
    }
    .navbar ul li a{
        color: #000000;
    }
    .navbar ul li a.purchase{
        background: none;
        border: none;
        color: #000000;
    }
    .navbar ul li a.purchase:hover{
        color: #ff392e;
    }
}
/*Content Header*/
.content{
    background: url('../image/header-background.jpg')  no-repeat scroll center bottom;
    background-size: cover;
    padding: 0 40px;
}
.header{
    max-width: 1280px;
    margin: 0 auto;
}
.header h1{
   padding-top: 100px;
   text-align: center;
   font-size: 78px;
   color: #374048;
}
.header p{
    padding-top: 40px;
    font-size: 27px;
    line-height: 41px;
    text-align: center;
    color: #8a9095;
    max-width: 710px;
    margin: 0 auto;
}
.header p a{
    border-radius: 60px;
    background: #ff392e;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
}
.header p a:hover{
    background: #374048;
    border-color: #374048;
}
.appleWatch{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
/*Responsiveness*/
@media(max-width:1060px){
    .header h1{
        font-size: 68px;
    }
    .header p{
        font-size: 24px;
    }
}
@media(max-width:936px){
    .header h1{
        font-size: 55px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:772px){
    .header h1{
        font-size: 45px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:646px){
    .header h1{
        font-size: 40px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:583px){
    .header h1{
        font-size: 36px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:532px){
    .header h1{
        font-size: 35px;
    }
    .header p{
        font-size: 16px;
    }
}
@media(max-width:519px){
    .header h1{
        font-size: 30px;
    }
}
/*Product*/
.product{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #fff;
}
.productContainer{
    padding: 0 40px;
    margin-top: 120px;
}  
.productContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.productContainer p{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #8a9095;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
}
.productContainer p span{
    border-bottom: #EEEEEE 8px solid;
    padding-bottom: 20px;
}
.appleWatchTwo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}
.appleWatchTwo img{
    width:380px;
}
/*Responsiveness of product*/
@media(max-width:772px){
    .appleWatchTwo img{
        width: 50%;
    }
    .productContainer p span{
        border: none;
    }
}
@media(max-width:646px){
    .productContainer h1{
        font-size: 40px;
    }
}
@media(max-width:583px){
    .productContainer h1{
        font-size: 36px;
    }
}
@media(max-width:583px){
    .appleWatchTwo img{
        width: 200px;
    }
}
@media(max-width:532px){
    .productContainer h1{
        font-size: 35px;
    }
    .productContainer p{
        font-size: 16px;
    }
}
/*How it works*/
.processWork{
   background: #F8FBFD;
}
.processWorkContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 100px;
}
.processWorkContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.processWorkContainer p.description{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #4e575f;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 300;
}
.processCard{
    display: flex;
    margin-top: 85px;
    justify-content: center;
    align-items:center;
}
.desktop, .toggles, .trophy{
    width: 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
}
 .imageOne{
    display: flex;
    justify-content: center;
} 
.desktop h2, .toggles h2, .trophy h2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size:26px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
    margin-bottom: 5px;
}
.toggles:before, .trophy:before{
    content: '';
    width: 30px;
    height: 63px;
    float: left;
    margin-left: -30px;
    display: block;
    background: url(https://demo.web3canvas.com/themeforest/proland/images/right-angle.png) no-repeat scroll center 32px;
}
.desktop p, .toggles p, .trophy p{
    text-align: center;
    color: #374048;
    font-weight: 300;
    line-height: 30px;
}
/*Responsiveness*/
@media(max-width:794px){
    .processCard{
        flex-flow: column;
    }
    .desktop, .toggles, .trophy{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
    .toggles:before, .trophy:before{
    float: none;
    margin: 0 auto;
    transform: rotate(90deg);
    background-position: center center;
    }
}
@media(max-width:646px){
    .processWorkContainer h1{
        font-size: 40px;
    }
}
@media(max-width:583px){
    .processWorkContainer h1{
        font-size: 36px;
    }
}
/*Benefits*/
.benefit{
    margin-top: 100px;
}
.benefitContainer{
    max-width: 1280px;
    margin: 0 auto;
}
.benefitContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.benefitContainer p.mainText{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #4e575f;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 300;
}
.features{
    display: flex;
}
.gps, .heart, .security, .features, .bill, .technology{
    display: flex;
}
.icon i{
    color: #ff392e;
    font-size: 40px;
}
.gps i, .heart i, .security i, .idea i, .bill i, .technology i{
    margin-right: 20px;
    margin-top: 5px;
}
