  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*Navbar*/
.navbarContainer{
    max-width: 1280px;
    margin:0 auto;
}
.navbar label{
    line-height: 80px;
    padding-left:30px;
    font-size:23px;
    font-weight: 600;
}
.navbar ul{
    list-style: none;
    float: right;
    margin-right: 60px;
}
.navbar ul li {
    display: inline-block;
    line-height: 80px;
    
}
.navbar ul li a{
    padding: 7px 13px;
    text-decoration: none;
    color:#374048;
}
.navbar ul li a:hover{
    color: #000000;
}
.navbar ul li a.purchase{
    background: #ff392e;
    border-radius: 20px;
    border: 1px solid #ff392e;
    color: #ffffff;
}
.navbar input#check{
   display: none;
}
label.checkbtn i.fa-bars{
   display: none;
}
label.checkbtn i.fa-times{
    display: none;
}
 .sticky {
    position: sticky;
    top: 0;
    background: #ffffff;
  }
  
  .sticky + .content {
    padding-top: 0px;
  } 
  /*Responsiveness of navbar*/
@media(max-width:933px){
    .navbar label{
        padding-left: 15px;
    }
   /*  .sticky{
        position: unset !important;
    } */
  }

@media(max-width:903px){
    .sticky + .content{
        padding-top: 0px;
    }
  label.checkbtn i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color:black;
       /*  float: right; */
        line-height: 80px;
    }

    .navbar ul {
        position: fixed;
        width: 40%;
        text-align: center;
        transition: all 0.5s;
        top: -150%;
        /* left: -100%; */
        text-align: center;
        background: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar ul li{
        display: block;
        margin: 10px 0;
       /*  line-height:30px; */
        /*adding*/
        margin: 5px 0px;
        line-height: 30px;
    }
    #check:checked~ul{
        /* left: 0; */
        top: 110px;
    }
    #check:checked~label.checkbtn i.fa-bars{
        display: none;
    }
    #check:checked ~label.checkbtn i.fa-times {
        display: block;
        font-size: 25px;
        margin-right: 60px;
        color: black;
        /* float: right; */
        line-height: 80px;
    }
    .navbar ul li a{
        color: #000000;
    }
    .navbar ul li a.purchase{
        background: none;
        border: none;
        color: #000000;
    }
    .navbar ul li a.purchase:hover{
        color: #ff392e;
    }
}
/*Header Text Contentr*/
.content{
    background: url('../image/header-background.jpg')  no-repeat scroll center bottom;
    background-size: cover;
    padding: 0 40px;
}
.header{
    max-width: 1280px;
    margin: 0 auto;
}
.header h1{
   padding-top: 100px;
   text-align: center;
   font-size: 78px;
   color: #374048;
}
.header p{
    padding-top: 40px;
    font-size: 27px;
    line-height: 41px;
    text-align: center;
    color: #8a9095;
    max-width: 710px;
    margin: 0 auto;
}
.header p a{
    border-radius: 60px;
    background: #ff392e;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
}
.header p a:hover{
    background: #374048;
    border-color: #374048;
}
.appleWatch{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}
/*Responsiveness*/
@media(max-width:1060px){
    .header h1{
        font-size: 68px;
    }
    .header p{
        font-size: 24px;
    }
}
@media(max-width:936px){
    .header h1{
        font-size: 55px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:772px){
    .header h1{
        font-size: 45px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:646px){
    .header h1{
        font-size: 40px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:583px){
    .header h1{
        font-size: 36px;
    }
    .header p{
        font-size: 20px;
    }
}
@media(max-width:532px){
    .header h1{
        font-size: 35px;
    }
    .header p{
        font-size: 16px;
    }
}
@media(max-width:519px){
    .header h1{
        font-size: 30px;
    }
}
/*Product*/
.product{
    max-width: 1280px;
    margin: 0 auto;
    background-color: #ffffff;
}
.productContainer{
    padding: 0 40px;
    margin-top: 120px;
}  
.productContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.productContainer p{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #8a9095;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
}
.productContainer p span{
    border-bottom: #EEEEEE 8px solid;
    padding-bottom: 20px;
}
.appleWatchTwo{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}
.appleWatchTwo img{
    width:380px;
}
/*Responsiveness of product*/
@media(max-width:772px){
    .appleWatchTwo img{
        width: 50%;
    }
    .productContainer p span{
        border: none;
    }
}
@media(max-width:646px){
    .productContainer h1{
        font-size: 40px;
    }
}
@media(max-width:583px){
    .productContainer h1{
        font-size: 36px;
    }
}
@media(max-width:583px){
    .appleWatchTwo img{
        width: 200px;
    }
}
@media(max-width:532px){
    .productContainer h1{
        font-size: 35px;
    }
    .productContainer p{
        font-size: 16px;
    }
}
/*How it works*/
.processWork{
   background: #F8FBFD;
}
.processWorkContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 100px;
}
.processWorkContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.processWorkContainer p.description{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #737c85;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 300;
}
.processCard{
    display: flex;
    margin-top: 85px;
    justify-content: center;
    align-items:center;
}
.desktop, .toggles, .trophy{
    width: 33.33333333%;
    padding-left: 15px;
    padding-right: 15px;
}
.imageOne{
    display: flex;
    justify-content: center;
} 
.desktop h2, .toggles h2, .trophy h2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size:26px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
    margin-bottom: 5px;
}
.toggles:before, .trophy:before{
    content: '';
    width: 30px;
    height: 63px;
    float: left;
    margin-left: -30px;
    display: block;
    background: url(https://demo.web3canvas.com/themeforest/proland/images/right-angle.png) no-repeat scroll center 32px;
}
.desktop p, .toggles p, .trophy p{
    text-align: center;
    color: #374048;
    font-weight: 300;
    line-height: 30px;
}
/*Responsiveness*/
@media(max-width:794px){
    .processCard{
        flex-flow: column;
    }
    .desktop, .toggles, .trophy{
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
    .toggles:before, .trophy:before{
    float: none;
    margin: 0 auto;
    transform: rotate(90deg);
    background-position: center center;
    }
}
@media(max-width:646px){
    .processWorkContainer h1{
        font-size: 40px;
    }
}
@media(max-width:583px){
    .processWorkContainer h1{
        font-size: 36px;
    }
}
@media(max-width:532px){
    .processWorkContainer p.description{
        font-size: 16px;
    }
}
/*Benefits*/
.benefit{
    margin-top: 100px; 
}
.benefitContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 100px;
}
.benefitContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.benefitContainer p.mainText{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color: #4e575f;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 300;
}
@media(max-width:646px){
    .benefitContainer h1{
        font-size: 40px;
    }
}
@media(max-width:583px){
    .benefitContainer h1{
        font-size: 36px;
    }
}
@media(max-width:532px){
    .benefitContainer p.mainText{
        font-size: 16px;
    }
    .benefitContainer h1{
        font-size: 36px;
    }
}
.features{
    display: flex;
    margin: 0 auto;
}
.gps, .heart, .security, .features, .bill, .technology{
    display: flex;
    margin-right:20px;
}
.icon i{
    color: #ff1900;
    font-size: 40px;
}
.gps i, .heart i, .security i, .idea i, .bill i, .technology i{
    margin-right: 20px;
    margin-top: 5px;
}
.features{
    margin-top: 70px;
}
.text h2{
    font-size:20px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.text p{
    color: #82898f;
    font-size: 14px;
    font-weight: 300;
}
@media(max-width:982px){
    .mainFeatures{
        display: flex;
    }
    .features{
        flex-flow: column;
        margin: 0 30px;
    }
    .gps, .heart, .security, .features, .bill, .technology{
        display: flex;
        margin-top: 60px;
    }
}
@media(max-width:766px){
    .mainFeatures{
        flex-flow: column;
    }
    .features{
        margin-top: 0px;
        display: flex;
        flex-flow: column;
        width: auto;
        justify-content: center;
    }
}
/*Benefit Two*/
.benefitTwo{
   padding-top: 100px;
    background: #F8FBFD;
}
.benefitTwoContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 100px;
}
.featureTwo_{
    width: 33.3333333333%; 
}
.mainFeatureTwo{
    display: flex;
}
.featureTwo,.featurePhoto{
    width: 33.3333333333%;
    margin: 0 20px;
}
.featurePhoto{
    margin-left: 60px;
}
.key, .volume, .gem, .thumb, .user, .clock{
    display: flex;
    margin-top: 60px;
}
.key i, .volume i, .gem i, .thumb i, .user i, .clock i{
    margin-right: 20px;
    margin-top: 5px;
}
.mainFeatureTwoTablet{
    display: none;
}
/*Responsive*/
@media(max-width:982px){
    .mainFeatureTwo{
        display: none;
    }
    .mainFeatureTwoTablet{
        display: flex;
        flex-flow: column;
    }
    .featurePhoto{
        margin: 0 auto;
        width: auto;
    }
    .featureTwoTablet{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .features{
        width: auto;
    }
    .featureTwo{
     width: 35%;
     margin: 0 35px;
    }
}
@media(max-width:794px){
    .mainFeatureTwoTablet{
        display: none;
    }
    .mainFeatureTwo{
        display: flex;
        flex-flow: column;
    }
    .benefitTwoContainer .featurePhoto{
        order: 1;
        width: 100%;
        display: flex;
        justify-content: center;
    }
   .benefitTwoContainer .featureTwo{
        order: 2;
        width: auto;
        justify-content: center;
    }
    @media(max-width:772px){
        .benefitTwoContainer .featurePhoto img{
            width: 70%;
        }
    }
}
  /*Collection*/
  .collection{
      margin-top: 100px;
  }
  .collectionContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 100px;
  }
  .collectionContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
  }
  .collectionContainer p.mainText{
    font-size: 20px;
    line-height: 41px;
    text-align: center;
    color:#969da3;
    max-width: 710px;
    margin: 0 auto;
    padding-top: 30px;
    font-weight: 300;
  }
  .allCollection{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.collectionOne{
    padding: 15px;
}

.collectionText{
    margin-top: 25px;
}
.collectionText h4{
    color:  #ff1900;
    text-align: center;
    font: 500 16px/1 "Poppins",sans-serif;
}
.collectionText p{
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    color:#969da3;
}
.collectionText h3{
    margin-top: 5px;
    text-align: center;
    color: #2FCA2D;
}
.collectionButton{
    margin-top:15px;
    text-align: center;
}
.collectionButton button{
    color: #b4bcc3;
    border-radius:30px;
    border:  1px solid #b4bcc3;
    padding: 6px 33px 6px;
    background: #ffffff;
    text-transform: uppercase;
}
.collectionButton button:hover{
    background: #374048;
    border-color: #374048;
    color: #ffffff;
}
.allCollectionTablet{
  display: flex;
  width: 50%;
  justify-content: center ;

}
@media(max-width:1175px){
    .collectionPhoto img{
        max-width: 95%;
    }
}
  @media(max-width:982px){
      .allCollection{
         display: block;
      }
      .allCollectionTablet{
          display: flex;
          width: 100%;
          justify-content: center;
      }
      .collectionPhoto{
          text-align: center;
      }    
      .collectionPhoto img{
        max-width: 100%;
      }
      .collectionOne{
        width: 50%;
      }
  }
  @media(max-width:794px){
      .allCollectionTablet{
          flex-flow: column;
      }
      .collectionOne{
          width: 100%;
      }
  }
@media(max-width:772px){
    .collectionContainer h1{
        font-size: 45px;
    }
}
@media(max-width:646px){
    .collectionContainer h1{
        font-size: 40px;
    }
}
@media(max-width:583px){
    .collectionContainer h1{
        font-size: 36px;
    }
}
@media(max-width:532px){
    .collectionContainer h1{
        font-size: 35px;
    }
    .collectionContainer p.mainText{
        font-size: 16px;
    }
}
@media(max-width:519px){
    .collectionContainer h1{
        font-size: 30px;
        line-height: 40px;
    }
}
 /*Modal*/

 @media (min-width: 992px){
    .modal-lg, .modal-xl {
        max-width: 900px;
    }
}
.carousel-item img{
     text-align: center;
}

#photo{
     text-align: center;
}
.modal-header{
    border-bottom: none;
}
.modal-body{
     display: flex;
}
.carousel-indicators li{
    background-color: red;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}  
.carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff0000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.modal-body .text{
    width: 50%;
    padding: 48px 37px 10px 45px;
}
.modal-body .text h4{
    color: #848e96;
    font-weight: 400;
    font-size: 20px;
    text-transform: uppercase;
}
.modal-body .text h2.name{
    color: #374048;
    font-weight: 700;
    font-size:30px;
    margin: 0 0 20px;
    text-transform: uppercase;
}
.modal-body .text p.model{
    color: #a8afb5;
    font-size: 18px;
    margin: 0 0 20px;
}
.modal-body .text h2.price{
    color: #ff1900;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
}
.modal-body .text h2.price del{
    font-size: 22px;
    color: #808890;
    font-weight: 300;
    margin-right: 10px;
}
.modal-body .text h2.price span{
    background: #ff840f;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 11px;
    padding: 3px 15px 0;
    position: relative;
    top: -2px;
    border-radius: 5px;
}
.modal-body .text p.description{
    border-top:1px solid #eee;
    border-bottom:1px solid #eee;
    padding: 30px 0 30px;
    font-size: 16px;
}
.chooseOptions{
    display: flex;
    margin-top: 40px;
}
.modal-body .text h4.title{
    text-transform: uppercase;
    margin: 0 0 12px;
    font: 500 16px/1 "Poppins",sans-serif;
    text-align: center;
}
.colors{
    margin-top: 18px;
}
input.color{
    display: none;  
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
input.color2{
    position: relative;
    z-index: 1;
    display: none;  
}

input[name=color]+label:before{
    content: '';
    width: 39px;
    height: 39px;
    display: block;
    position: absolute;
    top: -6px;
    left: -6px;
    border: 0 solid;
    border-radius: 100%;
}
input[name=color]+label{
    width: 27px;
    height: 27px;
    border-radius: 100%;
    position: relative;
    margin-right: 6px;
    margin-bottom: 0;
}
input[name=color]+label[for=color-1]{
    background: #2eafff;
    margin-left: 4px;
}
input[name=color]+label[for=color-1]:before{
    border-color:#2eafff;
}
input[name=color]:checked+label[for=color-1]:before{
    border-width: 3px;
}
input[name=color]+label[for=color-2]{
    background:#5c2eff; 
 
}
input[name=color]+label[for=color-2]:before{
    border-color: #5c2eff;
  
}
input[name=color]:checked+label[for=color-2]:before{
    border-width: 3px;
}
input[name=color]+label[for=color-3]{
    background: #ff2e99;
    margin-left: 4px;
}
input[name=color]+label[for=color-3]:before{
    border-color: #ff2e99;
}
input[name=color]:checked+label[for=color-3]:before{
    border-width: 3px;
}
input[name=color]+label[for=color-4]{
    background: #ffe62e;
    margin-left:4px;  
}
input[name=color]+label[for=color-4]:before{
    border-color: #ffe62e;
}
input[name=color]:checked+label[for=color-4]:before{
    border-width: 3px;
}
input[name=color]+label[for=color-5]{
    background:#2effa1;
    margin-left:4px;  
}
input[name=color]+label[for=color-5]:before{
    border-color:#2effa1;
}
input[name=color]:checked+label[for=color-5]:before{
    border-width: 3px;
}
/*TouchSpin*/
.optionTwo{
    width: 86px;
    margin-left: 20px;
}
.optionTwo input.number{
/*     width: 39px; */
   /*  width:27px; */
    font-size: 20px;
  /*   margin: 0 10px; */
    padding: 3px;
    border-radius: 8px;
    margin: 0 5px;
    border: 1px solid rgb(145, 155, 149);
}
.optionTwo input.number:hover{
   background: #374048;
   /*  color: #4e575f; */
   color: #ffffff;
}
.nice-number button{
    background-color: #eee;
   /*  width: 30px; */
    width: 27px; 
    border: 1px solid rgb(145, 155, 149);
    border-radius: 8px; 
}
.optionThree{
    margin-top: 30px;
    border-top: 1px solid #eee;
    padding: 35px 0px 0px;
}
.optionThree h4.sizeTitle{
    margin-left: 20px;
    float: left;
 
}
.size{
    float: left;
    text-align: center;
    position: relative;
    top: -10px;
}
.size select {
    background-color: #ffffff;
    color: #374048;
    padding: 12px;
    width: 80px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    text-align: center;
    font: 600 16px/1 "Poppins",sans-serif;
    text-transform: uppercase;
 }
.size select::-ms-expand {
    display: none;
}
.size::before {
    content: "\f078";
    font-family: FontAwesome;
    position: relative;
    left: 80px;
    width: 20%;
    height: 100%;
    text-align: center;
    font-size: 17px;
    line-height: 45px;
    color:#96a1a9;
    background-color: #ffffff;
    pointer-events: none;
}
.size select option {
    padding: 30px;
}
.modal-footer
{
    justify-content: flex-end;
    align-items: flex-end;
    width: 40%;
    float: right;
    margin-right:49px; 
}
.modal-footer button{
    background-color: #FF1900;
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    border-radius: 4px;
    padding: 15px 25px;
    border: none;
    width: 100%;
}
.modal-footer button:hover{
    background-color: rgb(55, 64, 72);
}
.footerModal{
    margin-bottom: 40px;
}
/*Resposiveness of model*/
@media(max-width:999px){
   /*  #photo{
        max-width: 80%;
    } */
    .carousel-item img{
        max-width: 90%;
    }
    .control-prev {
        position: absolute;
        top: -110px;
    }
    .carousel-indicators{
        display: none;
    }
    .chooseOptions{
        flex-flow: column;
    }
    .optionTwo{
        margin-top: 30px;
    }
    .modal-footer {
        border-top: none;
    }
    .modal-footer button{
        font-size: 21px;
        padding: 10px 1px;
    }
}
@media(max-width:794px){
    .modal-body{
        flex-flow: column;
    }
    .w-50 {
        width: 100%!important;
    }
    .modal-body .text {
        width: 100%;
    }
    .carousel-item img {
        max-width: 40%;
    }
    .colors {
        text-align: center;
    }
    .optionTwo {
        width: auto;
    }
    .responsive, .optionThree h4.sizeTitle {
        text-align: center;
    }
    .size, .optionThree h4.sizeTitle {
        float: none;
    }
    .modal-footer button{
        font-size: 25px;
        padding: 15px 25px;     
    }
    .modal-footer{
        float: none;
        width: 100%;
    }
}
@media(max-width:284px){
    .modal-footer button{
        font-size: 21px;
        padding: 10px 1px;
    }
}
/*The watch*/
.Thewatch{
    background: #F8FBFD;
    padding-top: 100px;
}
.watchContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 100px;
}
.watch{
    display: flex;
    justify-content: center;
    padding: 0 40px;
}
.textWatch{
    width: 50%;
    margin-right: 9em;
    margin-top: 60px;
}
.textWatch h1{
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
}
.textWatch p.firstText{
    margin-top: 30px;
    margin-bottom: 40px;
 }
.textWatch p{
    max-width: 710px;
    font-size: 20px;
    font-weight: 300;
    color:#969da3;
}
.textWatch p i{
    color: #55C44C;
    margin-right: 15px;
    font-size: 25px;
}
/*Responsiveness*/
@media(max-width:982px){
    .watch{
        flex-flow: column-reverse;
    }
    .textWatch, .imgWatch{
        width: 100%;
    }
    .textWatch{
        margin-top: 70px;
    }
    .imgWatch{
        text-align: center;
    }
    @media(max-width:772px){
        .textWatch h1{
            font-size: 45px;
        }
    }
    @media(max-width:646px){
        .textWatch h1{
            font-size: 40px;
        }
    }
    @media(max-width:583px){
        .textWatch h1{
            font-size: 36px;
        }
        .textWatch p{
            font-size: 15px;
        }
        .imgWatch img{
            max-width: 80%;
        }
    }
    @media(max-width:532px){
        .textWatch h1{
            font-size: 35px;
        }
        .textWatch p{
            font-size: 16px;
        }
    }
    @media(max-width:519px){
        .textWatch h1{
            font-size: 30px;
        }
        .textWatch p{
            font-size: 13px;
        }
    }
}
/*Split*/
.split{
    display: flex;
/*     justify-content: center; */
}
.splitText, .splitImage{
    width: 50%;
}
.splitImage img{
    width: 100%;
}
.splitText .text{
   /*  padding: 0px 40px; */
/*     width: 40%; */
    margin-left: 37px;
    margin-right: 37px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100% ;
    width: 90%;
    /* max-width: 100%; */
}
.splitText .text h3{
    font-weight: 700;
    color: #374048;
    font-size: 33px;
}
.splitText .text p{
    color: #c0cad0;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
}
/*Resposiveness*/
@media (max-width: 1064px){
/*     .splitText .text{
        margin-top: 10px;
    } */
    .splitText .text h3  {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 24px;
    }
    .splitText .text p{
        font-size: 14px;
        line-height: 26px;
        max-width: 710px;
    }
}
@media(max-width:936px){
    .splitText{
        margin-top: 30px;
    }
}
@media(max-width:898px){
    .splitText{
        margin-top: 20px;
    }
}
@media(max-width:794px){
    .split{
        flex-flow: column;
    }
    .splitImage{
        width: 100%;
    }
    .splitImage img{
        width: 100%;
    }
    .splitText{
        display: block;
        width: 90%;
        margin: 0 15px;
        margin-top: 30px;
    }
}
/*Split Two*/
.splitTwo{
    display: flex;
}
 .splitTextTwo {
    width: 50%;
} 
  .splitImageTwo{
      width: 50%;
  /*     margin-left: 30px; */
} 
.splitImageTwo img{
    width: 100%;
  /*   margin-left: 30px; */
} 
.splitTextTwo .text{
    /*  padding: 0px 40px; */
 /*     width: 40%; */
     margin-left: 37px;
     margin-right: 37px;
     display: flex;
     flex-flow: column;
     justify-content: center;
     align-items: center;
     position: relative;
     height: 100% ;
     width: 90%;
     margin-top: 25px;
     /* max-width: 100%; */
 }
.splitTextTwo .text h3{
    font-weight: 700;
    color: #374048;
    font-size: 33px;
}
 .splitTextTwo .text h3{
     font-weight: 700;
     color: #374048;
     font-size: 33px;
 }
 .splitTextTwo .text p{
     color: #c0cad0;
     font-weight: 300;
     font-size: 18px;
     line-height: 32px;
 }
 /*Responsiveness*/
 @media (max-width: 1064px){
        .splitTextTwo .text{
            margin-top: 25px;
        }
        .splitTextTwo .text h3  {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 24px;
        }
        .splitTextTwo .text p{
            font-size: 14px;
            line-height: 26px;
            max-width: 710px;
        }
    }
    @media(max-width:794px){
        .splitTwo{
            flex-flow: column-reverse;
        }
        .splitImageTwo{
            width: 100%;
        }
        .splitImage img{
            width: 100%;
        }
        .splitTextTwo{
            width: 100%;
        }
        .splitTextTwo .text{
           justify-content: flex-start;
           align-items: flex-start;
            margin: 0 15px;
            margin-top: 30px;
         
        }
    }
/*Review*/
.reviews{
    background: #F8FBFD;
    padding-top: 100px;
}
.reviewContainer{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    padding-bottom: 100px;
}
.reviewContainer h1{
    text-align: center;
    font-size: 48px;
    line-height: 29px;
    font-weight: 600;
    color: #374048;
    margin-bottom: 30px;
}
.reviewContainer p.text{
    color: #969da3;
    font-size: 20px;
    max-width: 710px;
    margin: 0 auto 20px;
    font-weight: 300;
    text-align: center;
}