  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
/*Navbar*/
.header{
    background: url('../image/1.png') no-repeat scroll center bottom;
}
.navbarContainer{
    max-width: 1280px;
    margin:0 auto;
}
.navbar label{
    line-height: 80px;
    padding-left:30px;
    font-size:23px;
    font-weight: 600;
}
.navbar ul{
    list-style: none;
    float: right;
    margin-right: 60px;
}
.navbar ul li {
    display: inline-block;
    line-height: 80px;
    
}
.navbar ul li a{
    padding: 7px 13px;
    text-decoration: none;
    color: #E8E9ED;
}
.navbar ul li a:hover{
    color: #374048;
}
.navbar ul li a.purchase{
    background: #ff392e;
    border-radius: 20px;
    border: 1px solid #ff392e
}
.navbar input#check{
    display: none;
}
.navbar label.checkbtn i.fa-bars{
   display: none;
}
.navbar label.checkbtn i.fa-times-circle{
    display: none;
}
/* .sticky {
    position: sticky;
    top: 0;
    background-color:red;
  }
  
  .sticky + .content {
    padding-top: 102px;
    
  } */
  @media(max-width:931px){
    .navbar label{
        padding-left: 15px;
    }
  }

@media(max-width:903px){
     .navbar label.checkbtn i.fa-bars{
        display: block;
        font-size:25px;
        margin-right: 60px;
        color:black;
        float: right;
        line-height: 80px;
    }
   .navbar ul{
        position: fixed;
        width: 100%;
        height: 720px;
        background: #7F7F7F;
        text-align: center;
        transition: all 0s;
        top: 80px;
        left: -100%;
        text-align: center;
    }
    .navbar ul li{
        display: block;
        margin: 50px 0;
        line-height:30px;
    }
    #check:checked~ul{
        left: 0;
    }
}